<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Secrets</title>
</head>
<body>
    <h1>Hello, {{request.session.user_name}}!</h1>

    <form action="{% url 'secrets:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit", value="Logout">
    </form>
    <br>

    <form action="{% url 'secrets:create' %}" method="post">
        {% csrf_token %}
        <textarea name="the_secret" id="" cols="60" rows="10" placeholder="Your secret here..."></textarea><br><br>
        <input type="submit" value="POST">
    </form>
    <br>
    <a href="popular_secrets">Most Popular Secrets</a>
    <h1>Recent Secrets...</h1>


    {% for secret in secrets %}
        <h3>{{secret.content}}<h3>
        <p><i>({{secret.created_at|timesince}} ago)</i></p>

        {% if secret.creator == logged_user %}
            <form action="{% url 'secrets:delete_secret' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="secret_id" value="{{secret.id}}">
                <input type="submit" value="Delete">
            </form>
        {% endif %}

        {% if logged_user not in secret.like.all %}
            <form action="{% url 'secrets:like_secret' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{request.session.user_id}}">
                <input type="hidden" name="secret_id" value="{{secret.id}}">
                <input type="submit" value="Like">
            </form>
        {% else %}
            <i> You liked this!</i>
        {% endif %}

    {% endfor %}


</body>
</html>